body {
  font-family: Nunito, sans-serif;
  color: #001d6e;
}

/* NAVBAR */
.navbar {
  padding: 0 4rem;
  color: white;
}

.navbar-brand {
  font-family: "Gochi Hand", cursive;
  font-size: 1.7rem;
}

.navbar-bg-color {
  background-color: #74afff;
}

.navbar-toggler {
  border: 2px solid white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.fa-shoe-prints {
  margin-left: 8px;
  transform: rotate(-45deg);
  font-size: 1.2rem;
}

/* SEARCH CITY */
.searchbox {
  width: 60%;
  max-width: 380px;
}

.search-container {
  padding: 0 4rem;
}

.submit-btn {
  max-width: 140px;
}

.submit-btn:hover,
.submit-btn:active,
.submit-btn:focus {
  background-color: #fff;
  color: #001d6e;
  border: 1px solid #001d6e;
}

/* SEARCH RESULTS */
.city-card {
  height: 100px;
  color: #001d6e;
  border: 1px solid #001d6e;
  border-radius: 0.375rem;
  box-shadow: 0 4px 3px 0 rgb(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 0;
}

.city-card a,
.user-card a {
  color: #001d6e;
  text-decoration: none;
}

.search-country {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.searched-card {
  width: 85%;
}

.city-card .fa-plane {
  top: 50px;
  right: 15px;
  color: rgba(0, 0, 0, 0);
  transition: color 1.5s;
}

.city-card:hover {
  background-color: #001d6e;
}

.city-card h5,
.city-card p {
  transition: margin-right 0.5s;
}

.city-card:hover h5,
.city-card:hover p {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-right: 3rem;
}

/* CITY PROFILE */
.profile-container {
  padding: 0 4rem;
}

figure {
  position: relative;
  color: white;
  padding: 0;
  width: 100%;
}

.img-fluid {
  object-fit: cover;
  width: 100%;
  max-height: 250px;
}

.caption {
  position: absolute;
  bottom: 0;
  right: 0.8rem;
  background-color: rgba(85, 85, 85, 0.5);
  color: gray;
  text-decoration: none;
  font-size: 6px;
  padding: 0 3px;
}

.caption:hover,
.caption:visited {
  text-decoration: none;
  color: gray;
}

.progress {
  max-width: 350px;
  margin: 0.5rem auto 1rem;
}

.table-container {
  border: 1px solid rgb(0, 29, 110, 0.5);
  padding: 0 1.5rem;
  margin: 0 5rem;
}

.add-city-btn {
  width: 170px;
  margin: 20px auto;
}

.back-top {
  font-size: 1.3rem;
  font-weight: 600;
  color: #001d6e;
  text-decoration: underline;
  text-align: center;
  margin: 0 auto 2rem;
}

/* ADD CITY MODAL */
.add-modal {
  max-width: 400px;
}

.btn-danger {
  background-color: #dc3545;
}

.modal-head {
  font-size: 1.3rem;
}

#month,
#year {
  width: auto;
}

.modal-message {
  text-align: center;
  width: 100%;
  color: red;
}

/* USER CITIES */
.sort-label {
  font-size: 1.2rem;
}

#sort-cities {
  min-width: 150px;
  width: 20%;
}

.card-wrapper {
  max-width: 270px;
  color: #001d6e;
}

.x-btn {
  position: absolute;
  right: 17px;
  top: 30px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  border: none;
  z-index: -1;
  transition: all 0.5s ease;
  animation-fill-mode: forwards;
}

.card-wrapper:hover .x-btn {
  top: 3px;
  color: rgb(0, 29, 110);
  z-index: 0;
}

.user-card {
  width: 100%;
  height: 140px;
  color: #001d6e;
  border: 1px solid #001d6e;
  border-radius: 0.375rem;
  box-shadow: 0 4px 3px 0 rgb(0, 0, 0, 0.25);
  text-align: center;
  padding: 0;
  z-index: 1;
}

.card-icon,
.card-date {
  display: inline;
}

.user-card a {
  width: 100%;
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 45%;
  border-radius: 0.3rem 0.3rem 0 0;
}

.country-card {
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-card:hover,
.user-card:hover h5,
.user-card:hover p {
  background-color: #001d6e;
  color: white;
}

.city-card:hover .fa-plane {
  color: rgb(255, 255, 255);
}

/* REMOVE CITY MODAL */
.remove-modal,
.note-modal {
  width: 85%;
  min-height: 230px;
}

.remove-city-display {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1.5rem 0;
}

/* ADD NOTE MODAL */
.note-modal {
  min-height: 230px;
}

#note-message {
  resize: none;
}

/* USER CITY PROFILE */
.visit-date {
  font-size: 1.2rem;
  font-weight: 600;
}

.star-icon {
  width: 30px;
  cursor: pointer;
}

.collapse-head {
  color: #001d6e;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid #001d6e;
  min-width: 240px;
  margin: 2.5rem 4rem 0;
  border-radius: 0.375rem;
}

.collapse {
  border-radius: 0.375rem;
}

#user-city-about,
#user-city-scores,
#user-city-leisure,
#user-city-costs,
.note {
  width: 85%;
  border: 1px solid #001d6e;
  border-top: none;
  padding: 0;
}

.user-city-note {
  white-space: pre-wrap;
}

.fa-chevron-left,
.fa-chevron-down {
  position: absolute;
  top: 19px;
  right: 15px;
}

/* LOAD SPINNER */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  margin: 8px;
  border: 8px solid #74afff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #74afff transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.hidden {
  display: none;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 576px) {
  .city-card {
    flex: 0 0 auto;
    width: 65%;
    min-width: 280px;
  }

  .city-card .fa-plane {
    right: 35px;
  }
}

@media screen and (max-width: 768px) {
  .profile-container {
    padding: 0 5%;
  }

  .x-btn {
    top: 3px;
    color: rgb(0, 29, 110);
    z-index: 0;
  }

  #note-message {
    max-height: 130px;
  }
}
