/* NAVBAR */
.navbar {
  min-width: 240px;
}

.navbar,
.search-container {
  padding: 0 10%;
  color: white;
}

.navbar-bg-color {
  background-color: #74afff;
}

.navbar-toggler {
  border: 2px solid white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.fa-shoe-prints {
  margin-left: 7px;
  transform: rotate(-45deg);
}

/* SEARCH CITY */
.searchbox {
  width: 60%;
  max-width: 380px;
}

h2 {
  color: #001d6e;
}

.submit-btn {
  max-width: 140px;
}

.submit-btn:hover,
.submit-btn:active,
.submit-btn:focus {
  background-color: #fff;
  color: #001d6e;
  border: 1px solid #001d6e;
}

/* SEARCH RESULTS */
.city-card {
  height: 85px;
  color: #001d6e;
  border: 1px solid #001d6e;
  border-radius: 0.375rem;
  box-shadow: 0 4px 3px 0 rgb(0, 0, 0, 0.25);
  overflow: hidden;
}

.city-card a,
.user-card a {
  color: #001d6e;
  text-decoration: none;
}

.search-country {
  overflow: hidden;
  text-overflow: ellipsis;
}

.searched-card {
  width: 100%;
}

.city-card .fa-plane {
  top: 25px;
  right: 7px;
  color: rgba(0, 0, 0, 0);
  transition: color 1.5s;
}

/* CITY PROFILE */
.profile-container {
  padding: 0 10%;
}

.img-fluid {
  min-height: 150px;
}

figure {
  position: relative;
  color: white;
  padding: 0;
}

.caption {
  position: absolute;
  bottom: 0;
  right: 0.8rem;
  background-color: rgba(85, 85, 85, 0.5);
  color: gray;
  text-decoration: none;
  font-size: 6px;
  padding: 0 3px;
}

.caption:hover,
.caption:visited {
  text-decoration: none;
  color: gray;
}

.progress {
  max-width: 350px;
  margin: 0.5rem auto 1rem;
}

.table-container {
  border: 1px solid rgb(0, 29, 110, 0.5);
  padding: 0 3%;
  margin: 0 15%;
}

.add-city-btn {
  width: 170px;
  margin: 20px auto;
}

.back-top {
  font-size: 1.3rem;
  font-weight: 600;
  color: #001d6e;
  text-decoration: underline;
  text-align: center;
  margin: 0 auto 2rem;
}

/* ADD CITY MODAL */
.add-modal {
  max-width: 400px;
}

.btn-danger {
  background-color: #dc3545;
}

.modal-head {
  font-size: 1.3rem;
}

#month,
#year {
  width: auto;
}

.modal-message {
  text-align: center;
  width: 100%;
  color: red;
}

/* USER CITIES */
.sort-label {
  font-size: 1.2rem;
}

#sort-cities {
  min-width: 150px;
  width: 20%;
}

.card-wrapper {
  max-width: 270px;
  color: #001d6e;
}

.x-btn {
  position: absolute;
  right: 17px;
  top: 30px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  border: none;
  z-index: -1;
  transition: all 0.5s ease;
  animation-fill-mode: forwards;
}

.card-wrapper:hover .x-btn {
  top: 3px;
  color: rgb(0, 29, 110);
  z-index: 0;
}

.user-card {
  width: 100%;
  height: 140px;
  color: #001d6e;
  border: 1px solid #001d6e;
  border-radius: 0.375rem;
  box-shadow: 0 4px 3px 0 rgb(0, 0, 0, 0.25);
  text-align: center;
  padding: 0;
  z-index: 1;
}

.card-icon,
.card-date {
  display: inline;
}

.user-card a {
  width: 100%;
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 45%;
  border-radius: 0.3rem 0.3rem 0 0;
}

.country-card {
  overflow: hidden;
  text-overflow: ellipsis;
}

.city-card h5,
.city-card p {
  transition: margin-right 0.5s;
}

.city-card:hover,
.city-card:hover h5,
.city-card:hover p,
.user-card:hover,
.user-card:hover h5,
.user-card:hover p {
  background-color: #001d6e;
  color: white;
}

.city-card:hover h5,
.city-card:hover p {
  margin-right: 30px;
}

.city-card:hover .fa-plane {
  color: rgb(255, 255, 255);
}

/* REMOVE CITY MODAL */
.remove-modal {
  width: 75%;
  min-height: 230px;
}

.remove-city-display {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1.5rem 0;
}

/* USER CITY PROFILE */

.collapse-head {
  color: #001d6e;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid #001d6e;
  min-width: 240px;
  width: 85%;
  margin: 2% 10% 0;
}

#user-city-about,
#user-city-scores,
#user-city-leisure,
#user-city-costs {
  width: 85%;
  border: 1px solid #001d6e;
  border-top: none;
}

.fa-chevron-left,
.fa-chevron-down {
  position: absolute;
  top: 18px;
  right: 10px;
}

@media screen and (max-width: 576px) {
  .city-card {
    flex: 0 0 auto;
    width: 65%;
    min-width: 280px;
  }

  .city-card .fa-plane {
    right: 20px;
  }

  .x-btn {
    top: 3px;
    color: rgb(0, 29, 110);
    z-index: 0;
  }
}
