/* NAVBAR */
.navbar {
  min-width: 240px;
}

.navbar,
.search-container {
  padding: 0 10%;
  color: white;
}

.navbar-bg-color {
  background-color: #74afff;
}

.navbar-toggler {
  border: 2px solid white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.fa-shoe-prints {
  margin-left: 7px;
  transform: rotate(-45deg);
}

/* SEARCH CITY */
.searchbox {
  width: 60%;
  max-width: 380px;
}

h2 {
  color: #001d6e;
}

.submit-btn {
  max-width: 140px;
}

.submit-btn:hover,
.submit-btn:active,
.submit-btn:focus {
  background-color: #fff;
  color: #001d6e;
  border: 1px solid #001d6e;
}

/* SEARCH RESULTS */
.city-card {
  height: 100px;
  color: #001d6e;
  border: 1px solid #001d6e;
  border-radius: 0.375rem;
  box-shadow: 0 4px 3px 0 rgb(0, 0, 0, 0.25);
  overflow: hidden;
}

.city-card a,
.user-card a {
  color: #001d6e;
  text-decoration: none;
}

.search-country {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* CITY PROFILE */
.profile-container {
  padding: 0 12%;
}

.img-fluid {
  min-height: 150px;
}

figure {
  position: relative;
  color: white;
}

.caption {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(85, 85, 85, 0.5);
  color: gray;
  text-decoration: none;
  font-size: 6px;
  padding: 0 3px;
}

.caption:hover,
.caption:visited {
  text-decoration: none;
  color: gray;
}

.progress {
  max-width: 350px;
  margin: 0.5rem auto 1rem;
}

.table-container {
  border: 1px solid rgb(0, 29, 110, 0.5);
  padding: 0 3%;
  margin: 0 15%;
}

.add-city-btn {
  width: 170px;
  margin: 20px auto;
}

.back-top {
  font-size: 1.3rem;
  font-weight: 600;
  color: #001d6e;
  text-decoration: underline;
  text-align: center;
  margin: 0 auto 2rem;
}

/* ADD CITY MODAL */
.modal-dialog {
  max-width: 400px;
}

.btn-danger {
  background-color: #dc3545;
}

.modal-head {
  font-size: 1.3rem;
}

#month,
#year {
  width: auto;
}

.modal-message {
  text-align: center;
  width: 100%;
  color: red;
}

/* USER CITIES */

.card-wrapper {
  max-width: 270px;
  color: #001d6e;
}

.user-card {
  width: 100%;
  height: 140px;
  color: #001d6e;
  border: 1px solid #001d6e;
  border-radius: 0.375rem;
  box-shadow: 0 4px 3px 0 rgb(0, 0, 0, 0.25);
  text-align: center;
  padding: 0;
}

.card-icon,
.card-date {
  display: inline;
}

.user-card a {
  width: 100%;
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 45%;
  border-radius: 0.3rem 0.3rem 0 0;
}

.country-card {
  overflow: hidden;
  text-overflow: ellipsis;
}

.city-card:hover,
.city-card:hover h5,
.city-card:hover p,
.user-card:hover,
.user-card:hover h5,
.user-card:hover p {
  background-color: #001d6e;
  color: white;
}
